<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Wacky Widgets</title>
    <style>
        body {
          text-align: center;
          margin: 2rem;
        }
        label {
          display: inline-block;
          width: 100px;
          text-align: right;
        }
        table {
          margin: 2rem auto;
        }
    </style>
</head>
<body>
    <h1>Wacky Widgets</h1>
    {% if widgets|length == 0 %}
    <h3>No Widgets Exist</h3>
    <hr>
    {% else %}
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Decription</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for widget in widgets %}
                <td>{{ widget.description }}</td>
                <td>{{ widget.quantity }}</td>
                <td><a href="{% url 'remove_widget' widget.id %}">X</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <h4>Add Widget</h4>
        <form method="post" class="pure-form" action="/addwidget/">
            {% csrf_token %}
            {{ widget_form.as_p }}
            <button type="submit" class="pure-button">Add Widget</button>
          </form>
</body>
</html>